.message {
    width: 200px;
    margin: 40px auto;
    padding: 5px;
    background: red;
}

.product-card {
    width: 150px;
    height: 150px;
    border: 2px solid greenyellow;
    margin: 10px auto;
}

.circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}